.output {
    color: rgb(1, 1, 180);
}

.description {
    text-align: center;
}

h1 {
    text-align: center;
}

input, select, button {
    margin: 5px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}